.Certificates {
  background-color: rgb(191, 175, 160);
}

.Certificates h3 {
  color: rgb(38, 25, 17);
  color: rgb(249, 243, 227);
  font-size: 45px;
  margin: 0;
  font-family: "Quattrocento Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  letter-spacing: 4px;
}

.Certificates .main-display {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}
.Certificates .certificate-lg {
  width: 100%;
  aspect-ratio: 4/3;
  width: 500px;
}

.Certificates a img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transform: 0.3s ease-in-out;
}
.Certificates a img:hover {
  opacity: 0.5;
}
.Certificates .grid {
  display: grid;
  column-gap: 30px;
}

.Certificates .grid-certificate-sm {
  grid-template-columns: repeat(6, 1fr);
  padding: 20px 60px;
}

.Certificates img {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 3px;
}
