.Featured {
  background-color: rgb(249, 243, 227);
  background: radial-gradient(
    circle,
    rgba(249, 243, 227, 1) 0%,
    rgb(190, 177, 165) 120%
  );
  margin: 0 auto;
  position: relative;
}

.Featured .wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.Featured .wave svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 338px;
}

.Featured .wave .shape-fill {
  fill: rgb(191, 175, 160);
}

.Featured section {
  margin: 0 auto;
  padding: 10px 70px;
}

.Featured .featured-main {
  margin-top: 200px;
}

.Featured h3 {
  color: rgb(102, 74, 50);
  color: rgb(191, 175, 160);

  font-family: "Oswald", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 9px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.Featured h4 {
  color: rgb(191, 175, 160);
  color: rgb(59, 39, 26);
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

.Featured p {
  color: rgb(38, 25, 17);
  font-size: 20px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

.Featured .grid {
  display: grid;
  column-gap: 30px;
  padding: 0px 40px;
}

.Featured .grid-2col {
  grid-template-columns: repeat(2, 1fr);
}

.Featured .featured-project {
  max-width: 100%;
}
.Featured img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 3px;
}
