.Featured {
  background-color: rgb(249, 243, 227);
  background: radial-gradient(
    circle,
    rgba(249, 243, 227, 1) 0%,
    rgb(190, 177, 165) 120%
  );
  margin: 0 auto;
  position: relative;
}

.Featured .wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.Featured .wave svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 338px;
}

.Featured .wave .shape-fill {
  fill: rgb(191, 175, 160);
}

.Featured section {
  margin: 0 auto;
  padding: 10px 70px;
}

.Featured .featured-main {
  margin-top: 200px;
}

.Featured h3 {
  color: rgb(102, 74, 50);
  color: rgb(191, 175, 160);

  font-family: "Oswald", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 9px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.Featured .grid {
  display: grid;
  column-gap: 10px;
  padding: 0px 10px;
}

.Featured .grid-2col {
  grid-template-columns: 0.5fr 1fr;
}

.Featured .featured-project {
  max-width: 100%;
  margin: 0 auto;
}

.Featured h4 {
  color: rgb(191, 175, 160);
  color: rgb(59, 39, 26);
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  text-align: left;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px rgb(59, 39, 26);
  cursor: pointer;
  transition: transform 0.5s;
}

.Featured .featured-container h4:hover {
  -webkit-text-fill-color: rgb(59, 39, 26);
  transform: translateY(-10px);
}

.Featured .img-box {
  width: 700px;
  height: 450px;
  background-image: url(../assets/brown-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s;
  margin: 0 auto;
}

.Featured
  .featured-container
  .featured-project
  h4:nth-child(1):hover
  ~ .Featured
  .img-box {
  background-image: url(../assets/featured-travel-guam.jpg);
}
